.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px;
    height: 600px;

}

.i{
    object-fit: cover;
    width: 230px;
    height: 330px;
    box-shadow: 0px 0px 10px;
}

/* .i:hover:hover{
    box-shadow: 0px 0px 10px;

} */

.sbt{
    font-size: 55px;
}

p{
    font-size: 30px;
}

@media screen and (max-width: 713px){
    .sidebar{
        height: auto;
        flex-direction: column;

    }
}
